
body, footer {
    background-color: #d6e1eb;
    font-family: 'Oxygen', sans-serif;
	font-size: 14px
	}
	h1, h2 {
	font-family:  'Oxygen', sans-serif;
	}
	button {
		border-radius:13px;
}

.dropdown {
    position: relative;
    display:inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d6e1eb;
    min-width: 100%;
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
    padding: 12px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: inline;
}

#map { 
    height: 880px;
    }

img{
    border-radius:7px;
    max-height: 85%;
    max-width: 85%;
}

header, footer{
    transform: scale(1);
}

p{

    font:'Oxygen', sans-serif;
}

code {
    color: #0066cc;
}
a {
    color: #33001b;
}


.layer{
   
    border-radius: 7px;
    margin-left:5%;
}

.note {
    border-radius: 7px;
    background-color: #d6e1eb   ;
    text-align: Left;
    margin-left: 15%;
    
    
}
/*
.sidebar-nav{height:100%;width:20%;background-color:#fff;} */
aside {
  color: #111;
  align-self:flex-start;
  width: 20%;
  height: 100vh;
  background-image: linear-gradient(30deg , #77aaca, #cccccc);
  border-top-right-radius: 13px;
  position:fixed!important;
  z-index:1;
  overflow:auto
}

aside a {
  font-size: 12px;
  color: #111111;
  display: block;
  padding: 12px;
  padding-left: 30px;
  text-decoration: none;
  -webkit-tap-highlight-color:transparent;
}

aside a:hover {
  color: #3f5efb;
  background: #fff;
  outline: none;
  position: relative;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

aside a i {
  margin-right: 5px;
}

aside a:hover::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 20px 0 0 #fff;
}

aside a:hover::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 38px;
  right: 0;
  height: 35px;
  width: 35px;
  border-top-right-radius: 18px;
  box-shadow: 0 -20px 0 0 #fff;
}

aside p {
  margin: 0;
  padding: 22px 0;
}




